# Created by https://www.gitignore.io/api/c++,cmake

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### CMake ###
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake


# End of https://www.gitignore.io/api/c++,cmake
build/.ninja_deps
build/.ninja_log
build/build.ninja
build/conan_paths.cmake
build/conan.cmake
build/conan.lock
build/conanbuildinfo.cmake
build/conanbuildinfo.txt
build/conanfile.txt
build/conaninfo.txt
build/Findbenchmark.cmake
build/graph_info.json
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-ca483511695313644e2c.json
build/.cmake/api/v1/reply/cmakeFiles-v1-bf8b7b5c731f45387752.json
build/.cmake/api/v1/reply/codemodel-v2-3a6b72297d1a689cbec4.json
build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/index-2022-11-15T10-20-03-0813.json
build/.cmake/api/v1/reply/target-main-bench-Debug-f570976828201dc83f39.json
build/.cmake/api/v1/reply/toolchains-v1-dd65c82081af24800c68.json
build/bin/main-bench
build/benchmark-config-version.cmake
build/benchmark-config.cmake
build/benchmark-debug-x86_64-data.cmake
build/benchmark-release-x86_64-data.cmake
build/benchmark-Target-debug.cmake
build/benchmark-Target-release.cmake
build/benchmarkTarget-debug.cmake
build/benchmarkTarget-release.cmake
build/benchmarkTargets.cmake
build/BZip2Config.cmake
build/BZip2ConfigVersion.cmake
build/BZip2Target-debug.cmake
build/BZip2Targets.cmake
build/cmakedeps_macros.cmake
build/CMakePresets.json
build/conan_toolchain.cmake
build/conanbuildinfo_debug.cmake
build/conanbuildinfo_multi.cmake
build/conanbuildinfo_release.cmake
build/expat-config-version.cmake
build/expat-config.cmake
build/expatTarget-debug.cmake
build/expatTargets.cmake
build/FindBZip2.cmake
build/FindEXPAT.cmake
build/FindOpenSSL.cmake
build/FindPCRE.cmake
build/FindPoco.cmake
build/FindSQLite3.cmake
build/FindZLIB.cmake
build/OpenSSLConfig.cmake
build/OpenSSLConfigVersion.cmake
build/OpenSSLTarget-debug.cmake
build/OpenSSLTargets.cmake
build/PCREConfig.cmake
build/PCREConfigVersion.cmake
build/PCRETarget-debug.cmake
build/PCRETargets.cmake
build/poco.cpp
build/PocoConfig.cmake
build/PocoConfigVersion.cmake
build/PocoTarget-debug.cmake
build/PocoTargets.cmake
build/SQLite3Config.cmake
build/SQLite3ConfigVersion.cmake
build/SQLite3Target-debug.cmake
build/SQLite3Targets.cmake
build/ZLIBConfig.cmake
build/ZLIBConfigVersion.cmake
build/ZLIBTarget-debug.cmake
build/ZLIBTargets.cmake
build/.cmake/api/v1/reply/cache-v2-9f2c85dd2152e254029f.json
build/.cmake/api/v1/reply/cmakeFiles-v1-7253a64e7ba94cde5a6f.json
build/.cmake/api/v1/reply/codemodel-v2-6d7d1db970da41914e4e.json
build/.cmake/api/v1/reply/index-2023-02-20T08-05-28-0918.json
build/.cmake/api/v1/reply/target-bench_test-Debug-d1e8dad7c4972fac0b48.json
build/.cmake/api/v1/reply/target-main-bench-Debug-99c5ff9a5afd3601453f.json
build/.cmake/api/v1/reply/target-poco-Debug-5476a10695115b67ad45.json
build/.cmake/api/v1/reply/toolchains-v1-8457a0bccb85c9e45498.json
build/bin/bench_test
build/bin/poco
.vscode/settings.json
